<div class="course-semester-info">
  <p><strong>Course Hours:</strong> Session [C]; <em>Tuesday and Thursday 2:00PM-3:20PM</em></p>
  <p><strong>Office Hours:</strong> 3:00pm - 4:00pm on Friday</p>
  <p><strong>TA:</strong> Shijie Zhou ( <a href="mailto:shijiezh@buffalo.edu">shijiezh@buffalo.edu</a> )</p>

  <hr/>

    <table class="styled-table">
    <thead>
        <tr>
        <th>Week(s)</th>
        <th>Topics Covered</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Week 1 and Week 2</td>
        <td>Math, Machine Learning Review, and Linear Regression</td>
        </tr>
        <tr>
        <td>Week 3 and Week 4</td>
        <td>Review on Linear Regression, Softmax Regression, and MLP</td>
        </tr>
        <tr>
        <td>Week 5 and Week 6</td>
        <td>Optimization, CNN, and Efficient-Net Paper Reading</td>
        </tr>
        <tr>
        <td>Week 7 (One Class)</td>
        <td>Midterm (Coverage on Weeks 1, 2, 3, 4, 5)</td>
        </tr>
        <tr>
        <td>Week 8 and Week 9</td>
        <td>Recurrent Neural Networks and Paper Read on Transformer</td>
        </tr>
        <tr>
        <td>Week 10, Week 11, Week 12, and Week 13</td>
        <td>Graph Neural Network Paper Read</td>
        </tr>
        <tr>
        <td>Week 14 and Week 15</td>
        <td>Catch up Time on the Material if Needed<br>Final and Review</td>
        </tr>
    </tbody>
    </table>

    <h3>Evaluation Components</h3>
    <table class="evaluation-table">
        <thead>
        <tr>
            <th>Component</th>
            <th>Weight / Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>Attendance</strong></td>
            <td>10% (Random Attendance Check)</td>
        </tr>
        <tr>
            <td><strong>Programming Assignments</strong></td>
            <td>30% (2 PAs)</td>
        </tr>
        <tr>
            <td><strong>Midterm</strong></td>
            <td>30%</td>
        </tr>
        <tr>
            <td><strong>Final</strong></td>
            <td>30%</td>
        </tr>
        </tbody>
    </table>
</div>